In [1]:
import pandas as pd

In [2]:
%load_ext rpy2.ipython

# Question Engagement Analysis

## Select course and load data set

In [3]:
data_dir = '/Users/benny/data/L@S_2021'
course = 'microbiology'

In [4]:
data_set_filename = f'engagement_{course}.txt'
data_set = pd.read_csv( f'{data_dir}/{data_set_filename}', sep='\t' )

In [5]:
data_set

,student,question,course_page_number,unit_page_number,module_page_number,page_question_number,question_type,answered
0,5f48174400b3a42fe2c6e6a5,5f2e4e5de3a4d9432b135e55,18,16,5,0,AG_FITB,1
1,5f48174400b3a42fe2c6e6a5,5f2e4e5de3a4d9432b135e77,18,16,5,1,AG_FITB,1
2,5f48174400b3a42fe2c6e6a5,5f2e4e5de3a4d9432b135e9d,18,16,5,2,AG_Matching,1
3,5f48174400b3a42fe2c6e6a5,5f2e4e5de3a4d9432b135ead,18,16,5,3,AG_Matching,1
4,5f48174400b3a42fe2c6e6a5,5f2e4e5de3a4d9432b135ebd,18,16,5,4,AG_Matching,1
...,...,...,...,...,...,...,...,...
71114,600bfe6a15f61a7c2756c0c9,5f2e4e8ae3a4d9432b13bfce,28,26,6,9,AG_Matching,0
71115,600bfe6a15f61a7c2756c0c9,5f2e4e8ae3a4d9432b13bff0,28,26,6,10,AG_FITB,0
71116,600bfe6a15f61a7c2756c0c9,5f2e4e8ae3a4d9432b13c016,28,26,6,11,AG_Matching,0
71117,600bfe6a15f61a7c2756c0c9,5f2e4e8ae3a4d9432b13c026,28,26,6,12,AG_Matching,0
71118,600bfe6a15f61a7c2756c0c9,5f2e4e8ae3a4d9432b13c036,28,26,6,13,AG_Matching,0

## Mean engagement

In [6]:
data_set.groupby( 'question_type' ).mean().sort_values( by='answered', ascending=False )

,course_page_number,unit_page_number,module_page_number,page_question_number,answered
question_type,,,,,
HA_MC,43.078851,41.078851,4.456248,9.170459,0.692540
AG_Matching,51.977292,49.977292,4.186578,4.906856,0.669077
AG_FITB,46.576671,44.576671,4.448933,5.272404,0.618919
HA_MCMS,46.680868,44.680868,5.349678,11.062701,0.549035
HA_DnD_Table,44.718085,42.718085,7.797872,11.925532,0.471277
HA_Pulldown,57.174006,55.174006,6.077913,21.394422,0.422764
HA_DnD_Image,54.000000,52.000000,6.000000,27.500000,0.340944
HA_SnC,48.058331,46.058331,6.988286,13.410949,0.328951

## Regression model

In [7]:
%%R
library( lme4 )

R[write to console]: Loading required package: Matrix

Standardize the continuous variables.

In [8]:
for col in [ 'course_page_number', 'unit_page_number', 'module_page_number', 'page_question_number' ]:
    data_set[ col ] = ( data_set[ col ] - data_set[ col ].mean() ) / data_set[ col ].std()

In [9]:
data_set.to_csv( '/tmp/to_r.csv', index=False )

In [10]:
%%R
df <- read.csv( '/tmp/to_r.csv' )

In [11]:
%%R
lme.model <- glmer( answered ~ course_page_number + unit_page_number + module_page_number + page_question_number + question_type
                             + (1|student) + (1|question), family=binomial(link=logit),
                    data=df,
                    control=glmerControl( optimizer="bobyqa", optCtrl=list(maxfun=2e4) ) )
summary( lme.model )

R[write to console]: fixed-effect model matrix is rank deficient so dropping 1 column / coefficient

Generalized linear mixed model fit by maximum likelihood (Laplace
  Approximation) [glmerMod]
 Family: binomial  ( logit )
Formula:
answered ~ course_page_number + unit_page_number + module_page_number +
    page_question_number + question_type + (1 | student) + (1 |      question)
   Data: df
Control: glmerControl(optimizer = "bobyqa", optCtrl = list(maxfun = 20000))

     AIC      BIC   logLik deviance df.resid
 49784.4  49903.7 -24879.2  49758.4    71106

Scaled residuals:
    Min      1Q  Median      3Q     Max
-65.455  -0.314   0.081   0.374  16.373

Random effects:
 Groups   Name        Variance Std.Dev.
 question (Intercept) 0.5537   0.7441
 student  (Intercept) 9.0917   3.0153
Number of obs: 71119, groups:  question, 1106; student, 99

Fixed effects:
                           Estimate Std. Error z value Pr(>|z|)
(Intercept)               -0.002364   0.314532  -0.008 0.994004
course_page_number        -0.909442   0.025880 -35.141  < 2e-16 ***
module_page_number        -0.821598   0.030056 -27.335  < 2e-16 ***
page_question_number      -0.250686   0.032003  -7.833 4.76e-15 ***
question_typeAG_Matching   0.506673   0.094230   5.377 7.58e-08 ***
question_typeHA_DnD_Image -0.760619   0.224323  -3.391 0.000697 ***
question_typeHA_DnD_Table -0.242033   0.225234  -1.075 0.282561
question_typeHA_MC         0.648242   0.092643   6.997 2.61e-12 ***
question_typeHA_MCMS      -0.138077   0.209045  -0.661 0.508925
question_typeHA_Pulldown  -0.691671   0.122272  -5.657 1.54e-08 ***
question_typeHA_SnC       -1.503071   0.136139 -11.041  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Correlation of Fixed Effects:
            (Intr) crs_p_ mdl_p_ pg_qs_ q_AG_M q_HA_DD_I q_HA_DD_T qs_HA_MC
crs_pg_nmbr -0.008
mdl_pg_nmbr  0.004  0.104
pg_qstn_nmb  0.046 -0.152 -0.222
qstn_tyAG_M -0.221 -0.065  0.032  0.010
qst_HA_DD_I -0.110  0.033 -0.014 -0.316  0.305
qst_HA_DD_T -0.098 -0.007 -0.171 -0.053  0.301  0.166
qstn_tHA_MC -0.234  0.042  0.010 -0.162  0.751  0.369     0.327
qst_HA_MCMS -0.107  0.010 -0.046 -0.095  0.330  0.178     0.159     0.357
qstn_tyHA_P -0.196 -0.013 -0.087 -0.439  0.563  0.402     0.304     0.655
qstn_tHA_SC -0.166  0.016 -0.201 -0.144  0.500  0.289     0.274     0.550
            q_HA_MCM q_HA_P
crs_pg_nmbr
mdl_pg_nmbr
pg_qstn_nmb
qstn_tyAG_M
qst_HA_DD_I
qst_HA_DD_T
qstn_tHA_MC
qst_HA_MCMS
qstn_tyHA_P  0.315
qstn_tHA_SC  0.265    0.521
fit warnings:
fixed-effect model matrix is rank deficient so dropping 1 column / coefficient